<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.bbs.mapper.PostingMapper">
    <resultMap id="PostingResult" type="jp.co.bbs.entity.Posting">
        <result column="record_date" property="date" />

    </resultMap>

	<insert id="insert">
		INSERT INTO postings (subject, body, category, record_date, user_id)
		 VALUES (#{subject}, #{body}, #{category}, CURRENT_TIMESTAMP, #{userId}) ;
	</insert>
	
	<select id="postings" resultMap="PostingResult">
		SELECT * FROM UserPostings ;
	</select>
	
	<delete id="delete">
		DELETE FROM postings WHERE id = #{id} ;
	</delete>
	
	<select id="getDate" resultMap="PostingResult">
		SELECT MIN(record_date) AS firstDate, MAX(record_date) AS lastDate FROM UserPostings ;
	</select>
	
	<select id="getCategory" resultMap="PostingResult">
		SELECT category FROM postings ;
	</select>
	
	<select id="search" resultMap="PostingResult">
		SELECT * FROM UserPostings WHERE #{category} = category ORDER BY record_date DESC ;
	</select>
	
</mapper>